.text-center{
  text-align:center;
}
.card{
  text-align:center;
  border-radius:10px;
  margin-left:auto;
  margin-right:auto;
  width:50%;
background-color: #8d6e63 ;
}
#btn{
      width: 20px;  
      height: 2em;
}
body{
  background-image:url("http://www.wallpaperup.com/uploads/wallpapers/2015/04/01/651835/18288e226d44aab4796aa83e5149d31b.jpg");
  webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
body h1{
  color:white;
  font-family: 'Raleway', sans-serif;
}
