.card{
  background-color:white;
  text-align:center;
}
body h1{
  text-align:center;
  color:white;
  font-family: 'Josefin Sans', sans-serif;
}
body input{
  color:black;
  font-family: 'Josefin Sans', sans-serif;
}
body h5{
  font-family: 'Josefin Sans', sans-serif;
  color:black;
  margin-top:0px;
  font-size:20px;
}
body{
  background-color:#ef5350 ;
}
body a{
  width:60px;
}
